:root {
  font-family: "Roboto";
  --color_1: black;
  --color_2: white;
  --background_main: white;
  --background_premium: rgb(68, 163, 226);
  --background_header_footer: black;
}

body {
  background-color: var(--background_premium);
  margin: 0px;
}

.nav-1 {
  display: none;
  color: var(--color_2);
}

.list {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color_2);
}

.spotify-logo {
  width: 100px;
}

h1 {
  font-weight: 900;
  color: var(--color_2);
}

.container-1,
.container-2,
.container-3,
.container-4 {
  border: solid 3px rgb(255, 0, 0);
  box-sizing: border-box;
}

.container-1 {
  position: fixed;
  width: 100%;
  z-index: 999;
  background-color: var(--background_header_footer);
  color: var(--color_2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px;
}


.container-2 {
  color: var(--color_2);
  background-image: url(../images/premium_dancer.png);
  justify-content: space-between;
  display: flex;
}

.container-3 {
  background-color: var(--background_main);
}

.container-4 {
  background-color: var(--background_header_footer);
  color: var(--color_2);
  display: flex;
  justify-content: space-between;
}
