body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: rgb(95, 159, 243);
}

.spotify-logo {
  width: 100px;
}

h1 {
  font-weight: 900;
  color: white;
}

.listen-songs {
  color: white;
}
